/* ==========================================================
   CLUB EGGE - Startseite
   ========================================================== */

.club-home-section{
	margin-bottom:40px;
}

.club-home-grid{
	display:grid;
	gap:20px;
}
